.ok-button {
    -fx-background-color: #86bfe5;
    -fx-border-color: #4682b4;
    -fx-border-radius: 3;
}

.ok-button:hover {
    -fx-background-color: #87cefa;
}

.ok-button:pressed {
    -fx-background-color: #4682b4;
}

.cancel-button {
    -fx-background-color: #f08080;
    -fx-border-color: #b22222;
    -fx-border-radius: 3;
}

.cancel-button:hover {
    -fx-background-color: #ff7f50;
}

.cancel-button:pressed {
    -fx-background-color: #b22222;
}